
.movie-details-list {
  .list-header {
    min-width: 200px;
  }

  .mat-list-item:first-of-type {
    min-height: 100px;
  }

  .mat-list-item:last-of-type {
     height: auto;
     padding: 10px 0;
  }
}

.mat-card-header{
  display: flex;
  align-items: baseline;
}
