<div class="container">
  <table id="movie-list" mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    <!-- title -->
    <ng-container matColumnDef="poster_path">
      <th mat-header-cell *matHeaderCellDef> Poster path </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element.poster_path; else noImage" class="poster-image" [src]="element.poster_path"
          alt="poster-image">
        <ng-template #noImage>No image</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="vote_average">
      <th mat-header-cell *matHeaderCellDef> Vote Average </th>
      <td mat-cell *matCellDef="let element"> {{element.vote_average}} </td>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <div class="selection-column">
          <span *ngIf="isSelectionEmpty; else selectionButton">
            Add to Collection
          </span>
          <ng-template #selectionButton>
            <button mat-raised-button (click)="addToCollection()">Add to Collection</button>
          </ng-template>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="onCheckBoxChange($event, row)"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)">
    </tr>
  </table>

  <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event">
  </mat-paginator>

</div>
